option {
    color: black;
}
#data-container {
    margin-top: 1.2rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.content-wrapper {
    background: #D19F68;
}
#btn-agendar {
    background: #D19F68;
}

.btn-formulario {
    width: 120px;
    height: 30px;
    border-radius: 4px;
    color: #ffff;
    background-color: #D19F68;
    border: nonE;
}

.btn-formulario:hover {
    border: 1px solid black;
}

#bg-login{
    background-color: #bd8c58;
}

#navbarzin {
    background-color: #7A2988;
}

#item-nav{
    color: red;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    color: #ffff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 22px;
    line-height: 1;
    margin-right: 1rem;
    color: #ffffff;
}

.sidebar .nav .nav-item.nav-category {
    color: #fff0f0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    margin: 0 30px;
    font-size: 11px;
    font-weight: 800;
    padding: 20px 0px 5px 0px;
    text-transform: uppercase;
}
.navbar .navbar-menu-wrapper {
    background: #7A2988;
    
}

.navbar .navbar-brand-wrapper {
    background: #000000;
   
   
}

.sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px;
    padding-left: 1.625rem;
    background: #000000;
}

.sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded=true] {
    background: #ffffffbe;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .welcome-text {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #fffdfd;
    margin-bottom: 10px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .welcome-sub-text {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 0;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
    max-width: 100%;
    height: 50px;
    margin: auto;
    vertical-align: middle;
}

.navbar .navbar-brand-wrapper .navbar-toggler {
    color: white;
}  

@media(max-width: 390px) {
    .navbar .navbar-brand-wrapper {
        background: #7A2988;
        height: 60px;
       
    }
}